.graph-3d-view .tree-item.is-collapsed > .tree-item-children {
	display: none;
	visibility: hidden;
}

.graph-3d-view .graph-controls {
	margin-top: 3em;
}

.graph-3d-view .node-label {
	color: var(--text-normal);
}
